// src/styles/custom.scss

#header-before {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -2;
}

#header-before .landing-wrapper-before {
  background: #0ba060;
  height: 222px;
  color: white;
}


#landing-main {
  box-shadow: 0 17px 50px 0 rgba(11,20,26,.19), 0 12px 15px 0 rgba(11,20,26,.24);
}
#get_the_app_btn {
  background: #128c7e;
  color: white;
  border-radius: 20px;
  padding: 8px 19px 8px 19px;
}
#get_the_app_btn:hover{
  background: #0e8275;

}


#qr_{
  max-width: 300px;
}

#link_with_ph{
  color: #069054;
}

